---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container">
  <nav>
    <ul class="menu">
      <li><span class="header-title">Insight <strong>Forge</strong>.</span></li>

      <!-- Menu Button - make into subcomponent -->
      <li class="toggle md-hide">
        <a href="#"
          ><svg class="menu-icon" viewBox="0 0 100 100" width="50">
            <path
              class="line top"
              d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"
            ></path>
            <path class="line middle" d="m 70,50 h -40"></path>
            <path
              class="line bottom"
              d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"
            ></path>
          </svg></a
        >
      </li>
    </ul>
    <ul class="links" id="links">
      <li><HeaderLink href="/">home</HeaderLink></li>
      <li><HeaderLink href="/blog">blog</HeaderLink></li>
      <li><HeaderLink href="/about">about</HeaderLink></li>
    </ul>

    <!-- Dark mode button -- make into subcomponent -->
    <ul class="theme-switch">
      <li>
        <a class="contrast" aria-label="Turn on dark mode" href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 32 32"
            fill="currentColor"
            class="icon-theme-toggle"
          >
            <clipPath id="theme-toggle-cutout">
              <path d="M0-11h25a1 1 0 0017 13v30H0Z"></path>
            </clipPath>
            <g clip-path="url(#theme-toggle-cutout)">
              <circle cx="16" cy="16" r="8.4"></circle>
              <path
                d="M18.3 3.2c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3S14.7.9 16 .9s2.3 1 2.3 2.3zm-4.6 25.6c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3-1 2.3-2.3 2.3-2.3-1-2.3-2.3zm15.1-10.5c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM3.2 13.7c1.3 0 2.3 1 2.3 2.3s-1 2.3-2.3 2.3S.9 17.3.9 16s1-2.3 2.3-2.3zm5.8-7C9 7.9 7.9 9 6.7 9S4.4 8 4.4 6.7s1-2.3 2.3-2.3S9 5.4 9 6.7zm16.3 21c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zm2.4-21c0 1.3-1 2.3-2.3 2.3S23 7.9 23 6.7s1-2.3 2.3-2.3 2.4 1 2.4 2.3zM6.7 23C8 23 9 24 9 25.3s-1 2.3-2.3 2.3-2.3-1-2.3-2.3 1-2.3 2.3-2.3z"
              >
              </path>
            </g>
          </svg></a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }

  .header-title {
    letter-spacing: -1px;
    font-size: 1.5em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .links {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      margin-left: 10px;
    }

    li:first-child {
      margin-left: 0;
    }

    .current {
      text-decoration: underline;
    }
  }

  .toggle {
    .menu-icon {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & .top {
        stroke-dasharray: 40 121;
      }

      & .bottom {
        stroke-dasharray: 40 121;
      }

      .line {
        fill: none;
        transition:
          stroke-dasharray 400ms,
          stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 3.5;
        stroke-linecap: round;
      }
    }

    &.active {
      .menu-icon {
        transform: rotate(45deg);
      }

      .menu-icon .top {
        stroke-dashoffset: -68px;
      }

      .menu-icon .bottom {
        stroke-dashoffset: -68px;
      }
    }
  }

  //Theme toggle
  svg.icon-theme-toggle {
    --theme-toggle-duration: .4s;
}
  svg.icon-theme-toggle.moon g circle {
    transform: scale(1.4);
    transition-delay: 0s;
  }
  svg.icon-theme-toggle g circle, svg.icon-theme-toggle g path {
    transform-origin: center;
    transition: transform calc(var(--theme-toggle-duration)* .65) cubic-bezier(0,0,0,1.25) calc(var(--theme-toggle-duration)* .35);
}
  svg.icon-theme-toggle.moon g path {
    transform: scale(.75);
    transition-delay: 0s;
  }

  svg.icon-theme-toggle.moon :first-child path {
    d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
    transition-delay: calc(var(--theme-toggle-duration)* .4);
    transition-timing-function: cubic-bezier(0,0,0,1.25);
}

svg.icon-theme-toggle :first-child path {
    transition-duration: calc(var(--theme-toggle-duration)* .6);
    transition-property: transform, d;
    transition-timing-function: cubic-bezier(0,0,.5,1);
}



  @media (max-width: 768px) {
    body > header {
      padding-block: 0;
    }
    header {
      padding-left: 0;
      padding-right: 0;
    }

    nav {
      align-items: normal;
      flex-direction: column;

      ul {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0;
      }
    }

    .links {
      display: flex;
      background: #1f1f1f;
      flex-direction: column;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;

      &.open {
        max-height: 100vh;
      }

      li {
        width: 100%;
        margin-left: 0;

        a {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
</style>

<script>

  function toggleMenu() {
    const toggleButton = document.querySelector(".toggle");

    toggleButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent default link behavior
      const links = document.getElementById("links");
      toggleButton.classList.toggle("active");
      links.classList.toggle("open");
    });
  }

  function toggleTheme(){
    const themeButton = document.querySelector(".icon-theme-toggle");
    themeButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent default link behavior
      themeButton.classList.toggle("moon");

    });
  }

  document.addEventListener("DOMContentLoaded", (event) => {
    toggleMenu();
    toggleTheme();
  });

  document.addEventListener("astro:after-swap", () => {
    toggleMenu();
    toggleTheme();
  });
</script>
