---
import HeaderLink from "./Navigation/HeaderLink.astro";
import ThemeSwitch from "./Navigation/ThemeSwitch.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container" >
  <nav>
    <ul class="menu">
      <li><span class="header-title">Insight <strong>Forge</strong>.</span></li>
    </ul>
    <ul class="links" id="links">
      <li><HeaderLink href="/">home</HeaderLink></li>
      <li><HeaderLink href="/blog">blog</HeaderLink></li>
      <li><HeaderLink href="/about">about</HeaderLink></li>
    </ul>

    
    <ul class="utility-menu">
      <!-- Menu Button - make into subcomponent -->
      <li class="toggle md-hide">
        <a class="contrast" href="#"
          ><svg class="menu-icon" viewBox="0 0 100 100" width="50">
            <path
              class="line top"
              d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"
            ></path>
            <path class="line middle" d="m 70,50 h -40"></path>
            <path
              class="line bottom"
              d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"
            ></path>
          </svg></a
        >
      </li>
      <li>
        <ThemeSwitch  />
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
header {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.header-title {
	letter-spacing: -1px;
	font-size: 1.5em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  background-color: var(--pico-background-color);
}

.menu {
	display: flex;
	align-items: center;
	//justify-content: space-between;
	justify-content: flex-start;
	flex-grow: 0;
}

.links {
	display: flex;
	list-style-type: none;
	padding: 0;
  justify-content: flex-end; 
	//flex-basis: 100%;
	order: 2;
  margin-left: auto;
	li {
		margin-left: 10px;
	}

	li:first-child {
		margin-left: 0;
	}

	.current {
		text-decoration: underline;
	}
}

.utility-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end; // Align to the right
	order: 2;
	flex-grow: 0;
}

.toggle {
	.menu-icon {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& .top {
			stroke-dasharray: 40 121;
		}

		& .bottom {
			stroke-dasharray: 40 121;
		}

		.line {
			fill: none;
			transition:
				stroke-dasharray 400ms,
				stroke-dashoffset 400ms;
			stroke: currentColor;
			stroke-width: 3.5;
			stroke-linecap: round;
		}
	}

	&.active {
		.menu-icon {
			transform: rotate(45deg);
		}

		.menu-icon .top {
			stroke-dashoffset: -68px;
		}

		.menu-icon .bottom {
			stroke-dashoffset: -68px;
		}
	}
}


@media (max-width: 768px) {
	body>header {
		padding-block: 0;
	}

	header {
		padding-left: 0;
		padding-right: 0;
	}

	nav {
		align-items: normal;
		flex-direction: row;

		.menu,
		.utility-menu {
			order: 1; // Display at the top on mobile
      flex-basis: auto;
		}

		ul {
			padding-left: 10px;
			padding-right: 10px;
			margin-right: 0;
		}

	}
  
	.links {
		display: flex;
		background: #1f1f1f;
    background: light-dark(#1f1f1f, #ffffff); //TODO
		flex-direction: column;
		max-height: 0;
		transition: max-height 0.3s ease-in-out;
		overflow: hidden;
		order: 2;
    margin-left: 0;
    flex-basis: 100%;
		&.open {
			max-height: 100vh;
		}

		li {
			width: 100%;
			margin-left: 0;

			a {
        color: light-dark(#ffffff, #1f1f1f);
				font-weight: bold;
			}
		}
	}
}
</style>

<script>
  function toggleMenu() {
    const toggleButton = document.querySelector(".toggle");

    toggleButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent default link behavior
      const links = document.getElementById("links");
      toggleButton.classList.toggle("active");
      links.classList.toggle("open");
    });
  }
  document.addEventListener("DOMContentLoaded", (event) => {
    toggleMenu();
  });

  document.addEventListener("astro:after-swap", () => {
    toggleMenu();
  });
</script>
